<!DOCTYPE html>
<html>
<head>
	<title>Alfa</title>
	<meta charset="utf-8">
 	<link rel="stylesheet" type="text/css" href="resource/bank_check.css">
 	<!--<link rel="stylesheet" type="text/css" href="resource/normalize.css">-->
	<h1>Cadastro de Cheques</h1>
</head>
<body onload="Today()">
	<div id="header">
		<a href="/alfa/logout" id="right">Logout</a>
		<ul>
			 <li><a href="/alfa/client">Clientes</a></li>
			 <li><a href="/alfa/calculation">Cálculo</a></li>
			<!-- <li><a href="/alfa/bank_check">Cadastro</a></li> -->
		</ul>
	</div>
	
	<div class="wrap">
 		<form action="" method="post">

			<select id="selectBox" onchange="selectClient(this)" onclick="setIndex()" onblur="setIndex()">
				<option value="">Cliente</option>
				{loop="$Users"}
				<option id="options" value="{$value.clientId}">{$value.clientName}</option>
				{/loop}
			</select>

		 	<input type="hidden" id="idClient" name="idClient">	

			<input type="text" name="client" id="client" onkeypress="return false" required><br>

		 	<label for="bank">Banco</label>
		 	<input type="text" name="bank" id="bank" required>
		 	
		 	<label for="agency">Agência</label>
		 	<input type="tel" name="agency" id="agency" required>
		 	
		 	<label for="account">Conta</label>
		 	<input type="tel" name="account" id="account" required=>	 	
		 			 	
		 	<label for="numchk">Nº Cheque</label>
		 	<input type="tel" name="numchk" id="numchk" required>
		 	
		 	<label for="value">Valor</label>
		 	<input type="number" step="0.01" name="value" id="value" onblur="formatMoeda(this)" maxlength="15" required><br>

		 	<label for="dtToday">Data</label>
		 	<input type="date" name="dtToday" id="dtToday" required>

		 	<label for="issuer">Emitente</label>
		 	<input type="text" name="issuer" id="issuer" required>	

		 	<label for="dtDue">Venc.</label>
		 	<input type="date" name="dtDue" id="dtDue" onblur="difDates()" required>

		 	<label for="cod">Cód.Cheque</label>
		 	<input type="text" name="cod" id="cod" tabindex="-1" readonly>

		 	<label for="tax">Taxa</label>
		 	<input type="number" step="0.01" name="tax" id="tax" onblur="formatMoeda(this)" required>

		 	<label for="days">Tot.Dias</label>
		 	<input type="text" name="days" id="days" onblur="calcJuros()" readonly required>

		 	<label for="interest">Juros</label>
		 	<input type="text" name="interest" id="interest" onblur="formatMoeda(this)" readonly required>

		 	<label for="liquid">Líquido</label>
		 	<input type="text" name="liquid" id="liquid" onblur="formatMoeda(this)" readonly required>		 	

		 	<input type="submit" onclick="return calc()" value="Salvar">
		</form>
	</div>

	<div class="data">
		<table border="1px" cellpadding="5px" cellspacing="0">
			<thead>
				<tr>
					<th>Cód.</th>
					<th>Cliente</th>
					<th>Banco</th>
					<th>Agência</th>
					<th>C/Corrente</th>
					<th>NºCheque</th>
					<th>Valor</th>
					<th>Dt.Base</th>
					<th>Emitente</th>
					<th>Vencim.</th>
					<th>Dias</th>
					<th>Taxa</th>
					<th>Juros</th>
					<th>Líquido</th>
					<th>Devol</th>
				</tr>	
			</thead>
			<tbody>
				{loop="$Data"}
				<tr>
					<td id="tdId">{$value.checkId}</td>
					<td style="text-transform: capitalize" id="tdClient">{$value.clientName}</td>
					<td id="tdBank">{$value.checkBank}</td>
					<td id="tdAgency">{$value.checkAgency}</td>
					<td id="tdAccount">{$value.checkAccount}</td>
					<td id="tdNumChk">{$value.checkNumChk}</td>
					<td id="tdValue">{$value.checkValue}</td>
					<td id="tdToday">{$value.checkToday}</td>
					<td id="tdIssuer" style="text-transform: capitalize">{$value.checkIssuer}</td>
					<td>{$value.checkDue}</td>
					<td>{$value.checkDays}</td>
					<td>{$value.checkTax}</td>
					<td>{$value.checkIntrst}</td>
					<td>{$value.checkLiquid}</td>
					<td>{if="$value.checkReturned == 1"}Sim{else}Não{/if}</td>
					<td>
						<!--<a href="bank_check/{$value.checkId}/edit" onclick="update()">Editar</a>-->
						<a href="bank_check/{$value.checkId}/update">Editar</a>
						<a href="bank_check/{$value.checkId}/delete">Excluir</a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
</body>

<script type="text/javascript" src="resource/bank_check.js"></script>
</html>