<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Alfa</title>
	<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/resource/bs_css/bootstrap.min.css"> 	
	<!--<link rel="stylesheet" type="text/css" href="resource/new_user.css">-->
	<!--<link rel="stylesheet" type="text/css" href="resource/normalize.css">-->
</head>
<body>
	<div class="container">
	 	<form action="/new_user" method="post">
	 		<div class="row justify-content-md-center">
	 			<div class="col-md-auto">
				 	<label for="login">Novo Usuário</label>
				 	<input type="text" class="form-control form-control-sm text-lowercase" name="newUser" id="login"><br>
				 	
				 	<label for="psw">Nova Senha</label>
				 	<input type="password" class="form-control form-control-sm" name="newPsw" id="psw"><br>
				 	
				 	<label for="cpsw">Conf. Senha</label>		 	
				 	<input type="password" class="form-control form-control-sm" name="confPsw" id="cpsw"><br>
				 	
				 	<!--<input type="submit" value="Ok">-->
				 	<button class="btn btn-success" type="submit">Confirmar</button>

				 	<a class="btn btn-primary" href="/" id="right">Login</a>
				</div>
		 	</div>
		</form><br><br>

		<nav class="navbar fixed-bottom navbar-dark bg-dark">
		  <a class="navbar-brand" href="#"></a>
		</nav>
	</div><!--end container-->
</body>

<!-- JavaScript (Opcional) -->
<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS --> 
<script src="/resource/bs_js/jquery-3.3.1.slim.min.js"></script>
<script src="/resource/bs_js/popper.min.js"></script>
<script src="/resource/bs_js/bootstrap.min.js"></script> 
<!--<script src="/resource/bank_check.js"></script>-->

</html>